body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgba(250, 235, 215, 0.479);
  }
  
  h1 {
    text-align: center;
    text-decoration: underline;
  }
  
  form {
    max-width: 400px;
    margin: 30px auto;
  }
  
  label {
    display: block;
    margin-top: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: block;
    width: 106%;
    padding: 10px;
    background-color: #368f39;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
  #cv-container {
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #000000;
    padding: 20px;
  }